!!!
- html_tag class: 'no-js', lang: 'en' do
  = render 'head'
  = stylesheet_link_tag 'application'
  %body{ class: "consumer #{controller.controller_name} #{controller.action_name}" }
    #main
      = render 'chromeframe'
      = render 'header'
      .container
        = yield
    = render 'footer'

    = render 'javascripts'
    = yield :js